.Rproj.user
.Rhistory
.RData
.Ruserdata
review_traits_2use10.csv
review_traits_2use15.csv
review_traits_2use20.csv
review_traits_2use25.csv
review_traits_2use3.csv
review_traits_2use6.csv
review_traits_2use7.csv
review_traits_2use8.csv
review_traits_2use9.csv
